#container {
  text-align: center;
  margin-top: 20px;

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#textAreaContainer {
  margin-inline: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#Textarea {
  font-size: 50px;
  text-align: end;
}

#screen {
  height: 200px;
  background-color: #dddd;
  margin-inline: 12px;
  padding-top: 30px;
  align-items: flex-end;
  align-content: flex-end;
}

#screen p {
  font-size: 50px;
  text-align: right;
  margin-right: 12px;
  margin-top: 10px;
  color: #000000;
}

#textAreaContainer {
  color: #A9A9A9;
}

#grid {
  margin-top: 20px;
}
